// Custom.scss
// Include any default variable overrides here (though functions won't be available)
$primary: #2c2323;
$secondary: #724444;
$primary-font-family: "gill-sans-nova";
$grey: #dccfcf;
$light: #f1f1f1;
$bg-card-transparent: #ffffff;
$bg-light-grey: #3e3e3e;
$dark: rgb(63, 63, 63);
$font-family-base: "gill-sans-nova";
$font-family-secondary: "Cormorant Garamond", sans-serif;

* {
  font-family: $font-family-base;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8rem;
  scroll-behavior: smooth;
}

body {
  background-color: $light;
}

.logo {
  font-family: $font-family-secondary;
  font-size: 2rem;
}

.sponsor-logos {
  height: 50px;
  margin-bottom: 1rem;
  width: auto;
}

.btn {
  font-weight: 400;
  font-style: normal;
}

.yelp-review {
  width: 100%;
}

div > .card > i {
  font-size: 2rem;
}

@import "../node_modules/bootstrap/scss/bootstrap";
// Then add additional custom code here
